# General
.DS_Store

# Volume Root Appearances
.fseventsd
.Trashes
.Spotlight-V100
.TemporaryItems
.VolumeIcon.icons
.DocumentRevisions-V100
.netrwhist

# Files that are NOT MINE
autoload/*
plugged/*
